{% extends "base.html" %}

{% load static %}

{% block title %}
    <title>About Us-Sibrour Rent A Car</title>
{% endblock title %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'aboutus.css' %}" />
{% endblock extra_css %}

{% block content %}
    <br/>
    <br/>
    <section class="section about">
        <div class="container">
            <div class="section-header text-center">
                <h2 class="section-title">About Us</h2>
                <div class="line">
                    <span></span>
                </div>
            </div>
            <div class="row pt-5">
                <div class="col-md-6 ">
                    <div class="about-info">
                        <!-- TODO: span should be changed -->
                        <h3>
                            Welcome To <span>Sibrour Rent A Car</span> Agency
                        </h3>
                        <p class="about-info-desc">
                            Based in Lebanon, Sibrour Rent a Car is a car rental company that provides fuel efficient cars
                            and a huge
                            variety of
                            automobiles to fit every budget and occasion.
                        </p>
                        <p class="about-info-desc">
                            Our reputation has been built by according outstanding value and quality to our customers,
                            understanding
                            their needs
                            and by constantly adapting our services to suit every requirement at competitive prices.
                        </p>
                        <p class="about-info-desc">
                            Whether you are a tourist, a holiday seeker or a corporation, our car rental services concern
                            you by far.
                            For a big meeting in the city or for a trip to the mountains on your day off, Charlie Rent a Car
                            offers
                            you the most comfortable cars, technology friendly and fuel efficient to drive around.
                        </p>
                        <p class="about-info-desc">
                            Don’t wait until you land to find your airport transfer, rent a car from Sibrour Rent a Car and
                            relax
                            knowing it’s all taken care of. Our services will never fail to satisfy you. Charlie Rent a Car
                            guarantees
                            the best car conditions for you to enjoy a safe drive. In case of emergency,
                        </p>
                        <button class="about-info-btn">Learn More</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about-img">
                        <br />
                        <img src="{% static 'imgaboutUs/4.png' %}"
                             style="height: 460px;
                                    width: 100%"/>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br />
    <section id="millistone" class=" hello bg-cover">
        <div class="container">
            <div class="row    text-center justify-content-center">
                <div class="col-lg-3 mt-4">
                    <div class="display-4 ">8549</div>
                    <p class="mb-5">Happy Clients</p>
                </div>
                <div class="col-lg-3 mt-4">
                    <div class="display-4 ">100%</div>
                    <p class="mb-5">Fast Service</p>
                </div>
                <div class="col-lg-3 mt-4">
                    <div class="display-4">24/24</div>
                    <p class="mb-5">Availabilty</p>
                </div>
                <div class="col-lg-3 mt-4">
                    <div class="display-4 ">90k</div>
                    <p class="mb-5">Subscribers</p>
                </div>
            </div>
        </div>
    </section>
    <br />
    <br />
    <br />
    <div class="container1 d-flex align-items-center justify-content-center    ">
        <div class="row    d-flex justify-content-between">
            <div class="col-4">
                <div class="card">
                    <div class="imgbox">
                        <img src="{% static 'imgaboutUs/z.png' %}" />
                    </div>
                    <div class="content">
                        <h2>Safety</h2>
                        <p>
                            To help you save money, maintenance and time and free you from car burdens, we will deliver
                            safe,
                            economical yet comfortable cars in their prime anywhere and whenever you want them with a free
                            of charge
                            pickup, car delivery and a chauffeur drive.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="imgbox">
                        <img src="{% static 'imgaboutUs/pp.png' %}" />
                    </div>
                    <div class="content">
                        <h2>Events</h2>
                        <p>
                            On your special day, your satisfaction is our priority. We will provide you with the best
                            Limousines at
                            the best price because you “our client” are our most important asset.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="imgbox">
                        <img src="{% static 'imgaboutUs/M.png' %}" />
                    </div>
                    <div class="content">
                        <h2>Tourism</h2>
                        <p>
                            Experience Lebanon with a unique and wide selection of the most diverse car models. For your
                            weekend
                            escape or your seasonal vacation, we suggest a sport 4X4 to make you feel the adventure of
                            driving on
                            Lebanon fabulous mountain roads.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
{% endblock content %}
