<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"/>
        <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
        <meta name="description" content="This is the description"/>
        <link rel="stylesheet" href="{% static 'navbar.css' %}" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
              crossorigin="anonymous"/>
        <link rel="stylesheet"
              type="text/css"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"/>
        <link rel="stylesheet"
              href="https://pro.font-awesome.com.relases/v5.10.0/css/all.css"/>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
                integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
                crossorigin="anonymous"></script>
        {% block extra_css %}
        {% endblock extra_css %}

        {% block title %}
            <title>Sibour Rent A Car Lebanon</title>
        {% endblock title %}

    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-dark ">
            <div class="container-fluid ">
                <a class="navbar-brand" href="#">
                    <img src="{% static 'imghomePage/logoo.png' %}"
                         alt=""
                         width="100"
                         height="55"/>
                </a>
                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarNav"
                        style="background: #f5b70b">
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a id="nav_link_to_home"
                               class="nav-link  text-warning"
                               aria-current="page"
                               href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a id="nav_link_to_flats"
                               class="nav-link  text-warning"
                               aria-current="page"
                               href="{% url 'flats' %}">Our Fleets</a>
                        </li>
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a id="nav_link_to_reservation"
                                   class="nav-link text-warning"
                                   href="{% url 'reservation' %}">Reservation</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a id="nav_link_to_about"
                               class="nav-link text-warning"
                               href="{% url 'about' %}">About US</a>
                        </li>
                        <li class="nav-item">
                            <a id="nav_link_to_contact"
                               class="nav-link text-warning"
                               href="{% url 'contactus' %}"
                               tabindex="-1"
                               aria-disabled="true">Contact US</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {% block content %}
        {% endblock content %}

        <footer class="bg-dark text-white pt-5 pb-4">
            <div class="container text-center text-md-left">
                <div class="row text-center text-md-left">
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">About Sibour</h5>
                        <p>
                            Our mission is to always provide a vast range of vehicles, the best quality, service, unbeatable
                            prices and the latest vehicles to our clients.
                        </p>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Options</h5>
                        <p>
                            <a href="#" class="text-white" style="text-decoration:none;">Weddings Car</a>
                        </p>
                        <p>
                            <a href="#" class="text-white" style="text-decoration:none;">Sport Car</a>
                        </p>
                        <p>
                            <a href="#" class="text-white" style="text-decoration:none;">Car's Adds</a>
                        </p>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Useful links</h5>
                        <p>
                            <a href="#" class="text-white" style="text-decoration:none;">Reservation</a>
                        </p>
                        <p>
                            <a href="#" class="text-white" style="text-decoration:none;">Our Fleets</a>
                        </p>
                        <p>
                            <a href="#" class="text-white" style="text-decoration:none;">About Us</a>
                        </p>
                        <p>
                            <a href="#" class="text-white" style="text-decoration:none;">Contact Us</a>
                        </p>
                    </div>
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Contact Us</h5>
                        <p>
                            <i class="fas fa-home mr-3"> </i> Bchara El Khoury, NY 2033, Lebanon
                        </p>
                        <p>
                            <i class="fas fa-envelope mr-3"></i> sibour98@gmail.com
                        </p>
                        <p>
                            <i class="fas fa-phone mr-3"> </i> +961 70 54 78 58
                        </p>
                        <p>
                            <i class="fas fa-print mr-3"> </i> +961 01 35 97 25
                        </p>
                    </div>
                </div>
                <hr class="mb-4" />
                <div class="row align-items-center">
                    <div class="col-md-7 col-lg-8">
                        <p>
                            Copyright 02020 All rights reserved by:
                            <a href="#" style="text-decoration:none;">
                                <strong class="text-warning">The Providers</strong>
                            </a>
                        </p>
                    </div>
                </div>
                <div class="col-md-5 col-lg-4">
                    <div class="text-center  text-md-right">
                        <ul class="list-unstyled list-inline">
                            <li class="list-inline-item">
                                <a href="#"
                                   class="btn-floating btn-sm text-white"
                                   style="font-size:23px"> <i class="fab fa-facebook"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"
                                   class="btn-floating btn-sm text-white"
                                   style="font-size:23px"> <i class="fab fa-twitter"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"
                                   class="btn-floating btn-sm text-white"
                                   style="font-size:23px"> <i class="fab fa-youtube"></i> </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"
                                   class="btn-floating btn-sm text-white"
                                   style="font-size:23px"> <i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        {% block extra_js %}
        {% endblock extra_js %}

        {% comment %} <script>
        const current_url = window.location.pathname;
        if (current_url.startsWith("{% url 'flats' %}")) {
            document.getElementById("nav_link_to_flats").className = "nav-link active text-warning";
        }
        else if (current_url.startsWith("{% url 'about' %}")) {
            document.getElementById("nav_link_to_about").className = "nav-link active text-warning";
        }
        else if (current_url.startsWith("{% url 'reservation' %}")) {
            document.getElementById("nav_link_to_reservation").className = "nav-link active text-warning";
        }
        /* else if (current_url === "/contact") { // TODO: modify
            document.getElementById("nav_link_to_contact").className = "nav-link active text-warning";
        }*/
        else {
            document.getElementById("nav_link_to_home").className = "nav-link active text-warning";
        }
        </script> {% endcomment %}
    </body>
</html>
