{% extends "base.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'cart.css' %}" />
{% endblock extra_css %}

{% block title %}
    <title>Your Cart</title>
{% endblock title %}

{% block content %}
    <div class="additionnal">
        <h1 class="ligne">Your Cart</h1>
    </div>
    {% for order in orders %}
        <section id="cart" class="section-p1">
            <div class="tab tab-1">
                <table id="table" border="5">
                    <tr>
                        <th colspan="2"style="background: #444; text-align: left;">
                            <span class="order">Order #{{ order.id }}</span>
                        </th>
                        <th style="background: #444; text-align: right;">
                            {% if order.status == "PENDING" %}<button type="button" class="delete">Pending</button>{% endif %}
                            {% if order.status == "COMPLETE" %}<button type="button" class="delete">Complete</button>{% endif %}
                            {% if order.status == "ORDERED" %}<button type="button" class="delete">Ordered</button>{% endif %}
                            {% if order.status == "CANCELLED" %}<button type="button" class="delete">Cancelled</button>{% endif %}
                        </th>
                    </tr>
                    <tr>
                        <th ></th>
                        <th ></th>
                        <th>Price</th>
                    </tr>
                    <tr>
                        <td data-th="img">
                            <img src="{% static order.car_color %}"
                                 style="width: 150px;
                                        height: 100px"/>
                        </td>
                        <td data-th="brand">
                            <div class="title">{{ order.car.brand }} {{ order.car.year }}</div>
                        </td>
                        <td data-th="price" class="prix">${{ order.car.price|floatformat:2 }}</td>
                    </tr>
                    {% for option in order.options %}
                        <tr>
                            <td data-th="img">
                                <img src="{% static option.option.image_url %}"
                                     style="width: 150px;
                                            height: 100px"/>
                            </td>
                            <td data-th="brand">
                                <div class="title">{{ option.count }} x {{ option.option.title }}</div>
                            </td>
                            <td data-th="price"class="prix">{{ option.count }} x ${{ option.option.price|floatformat:2 }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            {% if order.status == "PENDING" %}
                <div class="tab tab-2">
                    <button class="delete"
                            type="button"
                            onclick="window.location.href='{% url 'step2' pk=order.id %}';">Resume</button>
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="cancelled-order" value="{{ order.id }}"/>
                        <button class="delete">Cancel</button>
                    </form>
                </div>
            {% endif %}
            <div class="cart-total">
                <strong class="cart-total-title">Total</strong>
                <span class="cart-total-price">|floatformat:2</span>
            </div>
            <hr class="ligneee"/>
        </section>
    {% endfor %}
{% endblock content %}
