{% extends 'base.html' %}

{% block title %} <title> Sibrour Rent A Car Lebanon </title> {% endblock %}

{% block content %}
{% load static %}
<div class="container-fluid">


    <div class="slider-wrapper ">
        <div class="slide1 min-vh-100 bg-cover d-flex align-items-center">
            <div class="container">

                <div class="row">
                    <div class="col-12">
                        <h6 class="text-uppercase text-warning"> Rent A Car In Lebanon And Drive In Style</h6>
                        <h1 class="display-2 "> Choose the car <br /> of your dreams</h1>
                        {% if user.is_authenticated %}
                        <h6> Welcome {{ user.first_name }}! </h6>
                        <a href="#" class="btn btn-outline-dark" onclick="LogoutUser()" style="width:auto;"> Logout
                        </a>
                        {% else %}
                        <a href="#" class="btn btn-outline-dark" onclick="openform()" style="width:auto;"> Login/Signup
                        </a>
                        {% endif %}

                        <a href="Flats.html" class="btn btn-outline-warning text-dark ms-md-3 "> Our Flats</a>

                    </div>
                </div>

            </div>
            <div id="login-form" class="login-page">
                <div class="form-box">
                    <div class="button-box">
                        <div id="btnn"></div>
                        <button type="button" onclick="login()" class="toggle-btnn"> Log In</button>
                        <button type="button" onclick="register()" class="toggle-btnn"> Register</button>

                    </div>
                    <form method="POST" id="login" class="input-group-login">
                        {% csrf_token %}
                        <div id="invalid_login_id" style="color:red ; visibility:hidden;"> Invalid credentials
                        </div>
                        <input type="text" class="input-field" id="email" placeholder="Email Id" />

                        <div id="email_error" style="color:red ; visibility:hidden;"> Please Fill up your email
                        </div>
                        <input type="password" class="input-field" id="password" placeholder="Enter Password" />
                        <span>
                            <i id="eye" class="fa fa-eye" aria-hidden="true" onclick="toggle()"></i>
                        </span>
                        <div id="pass_error" style="color:red ; visibility:hidden;"> Please Fill up your password
                        </div>


                        <button type="button" class="submit-btnn" onclick="LoginUser()"> Login </button>
                    </form>
                    <form method="POST" id="register" class="input-group-register" action={% url 'signup' %}>
                        {% csrf_token %}
                        <input name="reg_fname" type="text" class="input-field" placeholder="First Name" />
                        <div id="fname_error" style="color:red ; visibility:hidden;"> Please Fill up your first name
                        </div>
                        <input name="reg_lname" type="text" class="input-field" placeholder="Last Name" />
                        <div id="lname_error" style="color:red ; visibility:hidden;"> Please Fill up your last name
                        </div>
                        <input name="reg_email" type="email" class="input-field" placeholder="Email Id" />
                        <div id="reg_email_error" style="color:red ; visibility:hidden;"> Please Fill up your email
                        </div>
                        <input name="reg_pass1" type="password" class="input-field" placeholder="Password" />
                        <input name="reg_pass2" type="password" class="input-field" placeholder="Confirm Password" />
                        <div id="reg_pass_error" style="color:red ; visibility:hidden;"> Passwords don't match
                        </div>
                        <input type="checkbox" class="check-box" /> <span>I agree to the terms and conditions</span>
                        <button type="button" class="submit-btnn" onclick="CreateUser()">Register</button>
                    </form>
                </div>

            </div>



        </div>

    </div>


    <br /> <br />



    <div class="container1 bg-white">
        <div class="services">
            <h1 class="ligne"> Our Services </h1>
        </div>
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="icon">
                    <i class="fa fa-car "></i>
                </div>
                <h3> Wide Selection </h3>
                <p> From standard cars to luxurious sport cars, SUV’s and convertibles, NN Rent a Car has a wide
                    selection of new and safe cars that are constantly under maintenance. Enjoy the ride without any
                    concerns!</p>

            </div>
            <div class="col-md-4 text-center">
                <div class="icon">
                    <i class="fa fa-phone" aria-hidden="true"></i>

                </div>
                <h3> 24/7 Support </h3>
                <p> NN Rent a Car is ready 24/7 to serve clients in case of any inconvenience. Our services cover
                    different areas all around Lebanon. Call us at: +961 3 664024</p>


            </div>
            <div class="col-md-4 text-center">
                <div class="icon">
                    <i class="fa fa-dollar-sign"></i>

                </div>
                <h3> Great Prices </h3>
                <p> Explore the city with a car of your choice; whether friendly economy or luxurious, all our
                    prices are calculated to fit your needs!</p>

            </div>
        </div>
    </div>



    <section class="Feedbacks">
        <div class="container">
            <h1 class="ligne"> What Our Custumers Say </h1>
            <p class="text-center"> </p>
            <div class="row">
                <div class=" col-md-4 text-center">
                    <div class="profile">
                        <img src="{% static 'imghomePage/user2.jpg' %}" class="user" />

                        <blockquote> <i class="fa fa-quote-left" style="color: #f5b70b"></i>
                            Always using Sibrour Rent a Car for car rentiing in Lebanon.
                            Fair prices,a lot of flexibility,I personally trust these guys,
                            their mission is to safisfy their custumers.

                        </blockquote>

                        <h3> Joury K.</h3>
                    </div>
                </div>
                <div class=" col-md-4 text-center">
                    <div class="profile">

                        <img src="{% static 'imghomePage/user1.jpg' %}" class="user" />

                        <blockquote> <i class="fa fa-quote-left" style="color: #f5b70b"></i>
                            One of the most reputable caar rental companies in the region.
                            Ponctuality, professionalism, and prices are always remarkable
                            with the clienteles.
                        </blockquote>

                        <h3> François Z. </h3>
                    </div>
                </div>
                <div class=" col-md-4 text-center">
                    <div class="profile">

                        <img src="{% static 'imghomePage/user3.jpg' %}" class="user" />

                        <blockquote> <i class="fa fa-quote-left" style="color: #f5b70b"></i>
                            Wide variety of cars, friendly and helpful staff.
                            Prices are very good. Also all fleet well maintained
                            and new. Love this place my number one go too. Highly
                            recommended!

                        </blockquote>

                        <h3> Céline B.</h3>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <br />

</div>
<script>
    function reset_errors() {
        document.getElementById("fname_error").style.visibility = "hidden";
        document.getElementById("lname_error").style.visibility = "hidden";
        document.getElementById("reg_email_error").style.visibility = "hidden";
        document.getElementById("reg_pass_error").style.visibility = "hidden";
        // borders??
    }

    function is_empty(element, error_id) {
        if (element.value == "") {
            element.style.borderBottom = "solid 1px red";
            element.focus();
            document.getElementById(error_id).style.visibility = "visible";

            return true;
        }
        return false;
    }

    function process_response(response, error_id) {
        response = JSON.parse(response);
        if ("error" in response) {
            document.getElementById(error_id).style.visibility = "visible";
            document.getElementById(error_id).innerHTML = response["error"];
            return false;
        }
        return true;
    }
</script>
<script>
    function LoginUser() {

        var username = document.getElementById("email");
        var password = document.getElementById("password");
        var csrf = document.getElementsByName("csrfmiddlewaretoken")[0];

        if (is_empty(username, "email_error") ||
            is_empty(password, "pass_error")) { return; }

        const formData = new FormData();
        formData.append('email', username.value);
        formData.append('pass', password.value);
        formData.append('csrfmiddlewaretoken', csrf.value);


        const request = new XMLHttpRequest();
        request.open("POST", "/login", false);
        request.send(formData);
        success = process_response(request.response, "invalid_login_id");
        if (success) { window.location.reload(true); }
    }

    var state = false;
    function toggle() {

        if (state) {
            document.getElementById("password").setAttribute("type", "password");
            document.getElementById("eye").style.color = '#7a79e';
            state = false;
        }
        else {
            document.getElementById("password").setAttribute("type", "text");
            document.getElementById("eye").style.color = 'red';

            state = true;

        }

    }
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
<script>
    var r = document.getElementById('login-form');
    var x = document.getElementById('login');
    var y = document.getElementById('register');
    var z = document.getElementById('btnn');
    function openform() {
        r.style.display = 'block';


    }
    function register() {
        x.style.left = '-400px';
        y.style.left = '50px';
        z.style.left = '110px';
    }
    function login() {
        x.style.left = '50px';
        y.style.left = '450px';
        z.style.left = '0px';
    }

</script>
<script>
    var modal = document.getElementById('login-form');
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none"
        }

    }


</script>
<script>

    function CreateUser() {
        reset_errors();
        form = document.getElementById('register');
        fname = form.elements["reg_fname"];
        lname = form.elements["reg_lname"];
        email = form.elements["reg_email"];
        pass1 = form.elements["reg_pass1"];
        pass2 = form.elements["reg_pass2"];
        csrf = form.elements["csrfmiddlewaretoken"];

        if (is_empty(fname, "fname_error") ||
            is_empty(lname, "lname_error") ||
            is_empty(email, "reg_email_error")) { return; }

        if (pass1.value.trim().length < 6) {
            pass1.style.border = "solid 3px red";
            document.getElementById("reg_pass_error").innerHTML = "Pass should be min 6";
            document.getElementById("reg_pass_error").style.visibility = "visible";
            pass1.focus();
            return;
        }

        if (pass1.value !== pass2.value) {
            pass1.style.border = "solid 3px red";
            pass2.style.border = "solid 3px red";
            document.getElementById("reg_pass_error").style.visibility = "visible";
            document.getElementById("reg_pass_error").innerHTML = "Passwords don't match";
            pass2.focus();
            return;
        }
        const formData = new FormData();
        formData.append('first_name', fname.value);
        formData.append('last_name', lname.value);
        formData.append('email', email.value);
        formData.append('pass', pass1.value);
        formData.append('csrfmiddlewaretoken', csrf.value);


        const request = new XMLHttpRequest();
        request.open("POST", "/signup", false);
        request.send(formData);
        success = process_response(request.response, "reg_email_error");
        if (success) {
            form.reset();
            reset_errors();
            login();
        }
    }

    function LogoutUser() {
        var csrf = document.getElementsByName("csrfmiddlewaretoken")[0];
        const formData = new FormData();
        formData.append('csrfmiddlewaretoken', csrf.value);
        const request = new XMLHttpRequest();
        request.open("POST", "/logout", false);
        request.send(formData);
        window.location.reload(true);
    }

</script>
{% endblock %}