{% extends 'base.html' %}

{% block title %} <title> Sibrour Rent A Car Lebanon </title> {% endblock %}

{% block content %}
{% load static %}
<div class="container-fluid">


    <div class="slider-wrapper ">
        <div class="slide1 min-vh-100 bg-cover d-flex align-items-center">
            <div class="container">

                <div class="row">
                    <div class="col-12">
                        <h6 class="text-uppercase text-warning"> Rent A Car In Lebanon And Drive In Style</h6>
                        <h1 class="display-2 "> Choose the car <br /> of your dreams</h1>
                        <a href="#" class="btn btn-outline-dark" onclick="openform()" style="width:auto;"> Login
                        </a>

                        <a href="Flats.html" class="btn btn-outline-warning text-dark ms-md-3 "> Our Flats</a>

                    </div>
                </div>

            </div>

            <div id="login-form" class="login-page">
                <div class="form-box">
                    <div class="button-box">
                        <div id="btnn"></div>
                        <button type="button" onclick="login()" class="toggle-btnn"> Log In</button>
                        <button type="button" onclick="register()" class="toggle-btnn"> Register</button>

                    </div>
                    <form id="login" class="input-group-login" action="Flats.html" onsubmit="return Verif()">
                        <input type="text" class="input-field" id="email" placeholder="Email Id" />

                        <div id="email_error" style="color:red ; visibility:hidden;"> Please Fill up your email
                        </div>
                        <input type="password" class="input-field" id="password" placeholder="Enter Password" />
                        <span>
                            <i id="eye" class="fa fa-eye" aria-hidden="true" onclick="toggle()"></i>
                        </span>
                        <div id="pass_error" style="color:red ; visibility:hidden;"> Please Fill up your password
                        </div>


                        <button type="submit" class="submit-btnn"> Close </button>
                    </form>
                    <form id="register" class="input-group-login">
                        <input type="text" class="input-field" placeholder="First Name" />
                        <input type="text" class="input-field" placeholder="Last Name" />
                        <input type="email" class="input-field" placeholder="Email Id" />
                        <input type="password" class="input-field" placeholder="Password" />
                        <input type="password" class="input-field" placeholder="Confirm Password" />
                        <input type="checkbox" class="check-box" /> <span>I agree to the terms and conditions</span>
                        <button type="submit" class="submit-btnn">Register</button>
                    </form>
                </div>

            </div>



        </div>

    </div>


    <br /> <br />



    <div class="container1 bg-white">
        <div class="services">
            <h1 class="ligne"> Our Services </h1>
        </div>
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="icon">
                    <i class="fa fa-car "></i>
                </div>
                <h3> Wide Selection </h3>
                <p> From standard cars to luxurious sport cars, SUV’s and convertibles, NN Rent a Car has a wide
                    selection of new and safe cars that are constantly under maintenance. Enjoy the ride without any
                    concerns!</p>

            </div>
            <div class="col-md-4 text-center">
                <div class="icon">
                    <i class="fa fa-phone" aria-hidden="true"></i>

                </div>
                <h3> 24/7 Support </h3>
                <p> NN Rent a Car is ready 24/7 to serve clients in case of any inconvenience. Our services cover
                    different areas all around Lebanon. Call us at: +961 3 664024</p>


            </div>
            <div class="col-md-4 text-center">
                <div class="icon">
                    <i class="fa fa-dollar-sign"></i>

                </div>
                <h3> Great Prices </h3>
                <p> Explore the city with a car of your choice; whether friendly economy or luxurious, all our
                    prices are calculated to fit your needs!</p>

            </div>
        </div>
    </div>



    <section class="Feedbacks">
        <div class="container">
            <h1 class="ligne"> What Our Custumers Say </h1>
            <p class="text-center"> </p>
            <div class="row">
                <div class=" col-md-4 text-center">
                    <div class="profile">
                        <img src="{% static 'imghomePage/user2.jpg' %}" class="user" />

                        <blockquote> <i class="fa fa-quote-left" style="color: #f5b70b"></i>
                            Always using Sibrour Rent a Car for car rentiing in Lebanon.
                            Fair prices,a lot of flexibility,I personally trust these guys,
                            their mission is to safisfy their custumers.

                        </blockquote>

                        <h3> Joury K.</h3>
                    </div>
                </div>
                <div class=" col-md-4 text-center">
                    <div class="profile">

                        <img src="{% static 'imghomePage/user1.jpg' %}" class="user" />

                        <blockquote> <i class="fa fa-quote-left" style="color: #f5b70b"></i>
                            One of the most reputable caar rental companies in the region.
                            Ponctuality, professionalism, and prices are always remarkable
                            with the clienteles.
                        </blockquote>

                        <h3> François Z. </h3>
                    </div>
                </div>
                <div class=" col-md-4 text-center">
                    <div class="profile">

                        <img src="{% static 'imghomePage/user3.jpg' %}" class="user" />

                        <blockquote> <i class="fa fa-quote-left" style="color: #f5b70b"></i>
                            Wide variety of cars, friendly and helpful staff.
                            Prices are very good. Also all fleet well maintained
                            and new. Love this place my number one go too. Highly
                            recommended!

                        </blockquote>

                        <h3> Céline B.</h3>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <br />

</div>
<script>
    function Verif() {

        var username = document.getElementById("email");
        var password = document.getElementById("password");

        if (username.value == "") {
            username.style.borderBottom = "solid 1px red";
            username.focus();
            document.getElementById("email_error").style.visibility = "visible";

            return false;
        }
        else if (password.value == "") {
            password.style.borderBottom = "solid 1px red";
            document.getElementById("pass_error").style.visibility = "visible";

            return false;
        }

        else if (password.value.trim().length < 6) {
            password.style.border = "solid 3px red";
            document.getElementById("pass_error").innerHTML.value = "Pass should be min 6";

            password.focus();
            return false;
        }

        else {
            return true;
        }
    }

    var state = false;
    function toggle() {

        if (state) {
            document.getElementById("password").setAttribute("type", "password");
            document.getElementById("eye").style.color = '#7a79e';
            state = false;
        }
        else {
            document.getElementById("password").setAttribute("type", "text");
            document.getElementById("eye").style.color = 'red';

            state = true;

        }

    }
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
<script>
    var r = document.getElementById('login-form');
    var x = document.getElementById('login');
    var y = document.getElementById('register');
    var z = document.getElementById('btnn');
    function openform() {
        r.style.display = 'block';


    }
    function register() {
        x.style.left = '-400px';
        y.style.left = '50px';
        z.style.left = '110px';
    }
    function login() {
        x.style.left = '50px';
        y.style.left = '450px';
        z.style.left = '0px';
    }

</script>
<script>
    var modal = document.getElementById('login-form');
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none"
        }

    }


</script>
{% endblock %}