{% extends "base.html" %}

{% load static %}

{% block title %}
  <title>Sibour Rent A Car Lebanon</title>
{% endblock title %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'sFlats.css' %}" />
  <link rel="stylesheet" href="{% static 'Flats.css' %}" />
{% endblock extra_css %}

{% block content %}
  <section id="prodetails" class="section-p1">
    <div class="single-pro-image">
      <img src="{% static car.default_design.image_url %}"
           width="100%"
           id="MainImg"
           alt/>
      <div class="small-img-grp">
        {% for car_design in car_designs %}
          <div class="small-img-col">
            {% if car_design.available %}
              <img src="{% static car_design.image_url %}"
                   width="100%"
                   onclick="showimg(this)"
                   id="{{ car_design.id }}"/>
            {% else %}
              <img src="{% static car_design.image_url %}"
                   width="100%"
                   id="{{ car_design.id }}"/>
              <h5 class="booked">booked</h5>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="single-pro-details">
      <h1>{{ car.brand }} {{ car.year }}</h1>
      <img src="{% static 'icons/door.jpg' %}" style="width: 40px;"/>
      <i></i> <span>{{ car.doors }} doors</span>
      <img src="{% static 'icons/seat.png' %}" style="width: 40px;"/>
      <span>{{ car.seats }} seats</span>
      <img src="{% static 'icons/airbagcar.jpg' %}" style="width: 35px;"/>
      <span>{{ car.bags }} bags</span>
      <div class="price">{{ car.price }}$/day</div>
      <br/>
      {% if user.is_authenticated %}
        <form method="POST">
          {% csrf_token %}
          <input type="hidden"
                 name="chosen_design"
                 id="chosen_design-id"
                 value="{{ car.default_design.id }}"/>
          <button>Add to cart</button>
        </form>
      {% endif %}
      <h4>More Information</h4>
      <p>{{ car.description }}</p>
    </div>
  </section>
  <script>
    function showimg(smallimg) {
      var MainImg = document.getElementById("MainImg")
      MainImg.src = smallimg.src;
      document.getElementById("chosen_design-id").value = smallimg.id;
  }
  </script>
{% endblock content %}
