{% extends "base.html" %}

{% load static %}

{% block title %}
  <title>Sibour Rent A Car Lebanon</title>
{% endblock title %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'sFlats.css' %}" />
  <link rel="stylesheet" href="{% static 'Flats.css' %}" />
{% endblock extra_css %}

{% block content %}
  <section id="prodetails" class="section-p1">
    <div class="single-pro-image">
      <img src="{% static car.image_urls.0 %}" width="100%" id="MainImg" alt/>
      <div class="small-img-grp">
        {% for image_url in car.image_urls %}
          <div class="small-img-col">
            <img src="{% static image_url %}" width="100%" class="small-img"/>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="single-pro-details">
      <h1>{{ car.brand }} {{ car.year }}</h1>
      <img src="{% static 'icons/door.jpg' %}" style="width: 40px;"/>
      <i></i> <span>{{ car.doors }} doors</span>
      <img src="{% static 'icons/seat.png' %}" style="width: 40px;"/>
      <span>{{ car.seats }} seats</span>
      <img src="{% static 'icons/airbagcar.jpg' %}" style="width: 35px;"/>
      <span>{{ car.bags }} bags</span>
      <div class="price">{{ car.price }}$/day</div>
      <br/>
      <form method="POST">
        {% csrf_token %}
        <button>Add to cart</button>
      </form>
      <h4>More Information</h4>
      <p>{{ car.description }}</p>
    </div>
  </section>
  <script>
  var MainImg = document.getElementById("MainImg")
  var smallimg = document.getElementsByClassName("small-img")

  smallimg[0].onclick = function () {
    MainImg.src = smallimg[0].src;
  }
  smallimg[1].onclick = function () {
    MainImg.src = smallimg[1].src;
  }
  smallimg[2].onclick = function () {
    MainImg.src = smallimg[2].src;
  }
  smallimg[3].onclick = function () {
    MainImg.src = smallimg[3].src;
  }
  </script>
{% endblock content %}
