{% extends "base.html" %}

{% load static %}

{% block title %}
    <title>The Generics | Store</title>
{% endblock title %}

{% block extra_css %}
    <link rel="stylesheet" href={% static 'step3.css' %} />
    <script src={% static 'step3.js' %}></script>
{% endblock extra_css %}

{% block content %}
    <div class="step-row">
        <div id="progress"></div>
        <div class="step-col">
            <a href={% url 'step1' %}>step1</a>
        </div>
        <div class="step-col">
            <a href={% url 'step2' %}>step2</a>
        </div>
        <div class="step-col">
            <a href={% url 'step3' %}>step3</a>
        </div>
    </div>
    <section class="container content-section ">
        <div class="shop-items">
            <div class="shop-item">
                <span class="shop-item-title" style="margin-top:30px">{{ car.brand }} {{ car.year }}</span>
                <img class="shop-item-image"
                     style="width: 400px;
                            transform: none"
                     src="{% static car.image_urls.0 %}"/>
                <div class="shop-item-details">
                    <span class="shop-item-price">$12.99</span>
                    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                </div>
            </div>
            <div class="shop-item" style="width: 400px;">
                <span class="shop-item-title" style="margin-bottom:40px"></span>
                <i class="bi bi-briefcase"></i> <span>{{ car.bags }}  bags</span>
                <i class="stm-rental-seats"></i> <span>{{ car.seats }}  seats</span>
                <i class="stm-rental-seats"></i> <span>{{ car.doors }} doors</span>
                <br/>
                <h2>More Information</h2>
                <div class="shop-item-details">
                    <span class="shop-item-price">{{ car.description }}</span>
                </div>
            </div>
        </div>
    </section>
    <section class="container content-section ">
        <h2 class="section-header">Protection Options</h2>
        <div class="shop-items">
            <div class="shop-item">
                <span class="shop-item-title">Tire chains</span>
                <img class="shop-item-image" src="{% static 'imgPage3/tireChain.png' %}"/>
                <div class="shop-item-details">
                    <span class="shop-item-price">$70</span>
                    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                </div>
                <!--rotate img information-->
                <div class="box-content">
                    <h3>Tire chains</h3>
                    Get better traction in cold weather with tire chains . Try the best snow chains for your car.
                </div>
            </div>
            <div class="shop-item">
                <span class="shop-item-title">Car Insurance</span>
                <img class="shop-item-image"
                     style="width: 250px"
                     src="{% static 'imgPage3/CarInsruance.png' %}"/>
                <div class="shop-item-details">
                    <span class="shop-item-price">$70</span>
                    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                </div>
                <!--rotate img information-->
                <div class="box-content">
                    <h3>Car Insurance</h3>
                    Super Collision Damage Waiver insurance with Zero Excess.
                    The lessee still remains responsible for the 25% of the
                    car value in case of car theft or total loss damage.
                </div>
            </div>
            <div class="shop-item">
                <span class="shop-item-title">Additionel Driver</span>
                <img class="shop-item-image"
                     width="280px"
                     src="{% static 'imgPage3/driver_one.png' %}"/>
                <div class="shop-item-details">
                    <span class="shop-item-price">$19.99</span>
                    <button class="btn btn-primary shop-item-button" type="button">
                        ADD TO CART
                    </button>
                </div>
                <!--rotate img information-->
                <div class="box-content">
                    <h3>
                        Additional Driver
                    </h3>
                    Share the driving: journeys are always better when you can take turns at the wheel!
                </div>
            </div>
        </div>
    </section>
    <section class="container content-section mt-5">
        <h2 class="section-header">
            Additional Adds
        </h2>
        <div class="shop-items">
            <div class="shop-item">
                <span class="shop-item-title">Baby Car Seat-A</span>
                <img class="shop-item-image"
                     src="{% static 'imgPage3/babyCarSeatA.png' %}"/>
                <div class="shop-item-details">
                    <span class="shop-item-price">$56.99</span>
                    <button class="btn btn-primary shop-item-button" type="button">
                        ADD TO CART
                    </button>
                </div>
                <!--rotate img information-->
                <div class="box-content">
                    <h3>
                        Baby seat a Car-A
                    </h3>
                    Rearward-facing baby seat suitable for
                    <br/>
                    Age: 0-12 months
                    <br/>
                    Weight: 0-13 kg
                    <br/>
                    Height: 40-75 cm
                </div>
            </div>
            <div class="shop-item">
                <span class="shop-item-title">babyCarSeat-B</span>
                <img class="shop-item-image"
                     style="width: 250px"
                     src="{% static 'imgPage3/BABycarSEATB.png' %}"/>
                <div class="shop-item-details">
                    <span class="shop-item-price">$56.99</span>
                    <button class="btn btn-primary shop-item-button" type="button">
                        ADD TO CART
                    </button>
                </div>
                <!--rotate img information-->
                <div class="box-content">
                    <h3>
                        Baby seat a Car-B
                    </h3>
                    orward-facing baby seat suitable for
                    <br/>
                    Age: 1-6 years
                    <br/>
                    Weight: up to 18 kg
                    <br/>
                    $10.00
                </div>
            </div>
            <div class="shop-item">
                <span class="shop-item-title"> Satellite Navigation</span>
                <img class="shop-item-image" src="{% static 'imgPage3/SaNav.png' %}"/>
                <div class="shop-item-details">
                    <span class="shop-item-price">$19.99</span>
                    <button class="btn btn-primary shop-item-button" type="button">
                        ADD TO CART
                    </button>
                </div>
                <!--rotate img information-->
                <div class="box-content">
                    <h3>
                        Satellite Navigation
                    </h3>
                    Satellite navigation system provides turn-by-turn direction.
                </div>
            </div>
        </div>
    </section>
    <section class="container content-section">
        <h2 class="section-header">
            Add To CART
        </h2>
        <div class="cart-row">
            <span class="cart-item cart-header cart-column">ITEM</span>
            <span class="cart-price cart-header cart-column">PRICE</span>
            <span class="cart-quantity cart-header cart-column">QUANTITY</span>
        </div>
        <div class="cart-items">
            <div class="cart-row">
                <div class="cart-item cart-column">
                    <img class="cart-item-image"
                         src="{% static car.image_urls.0 %}"
                         width="100"
                         height="100"/>
                    <span class="cart-item-title"> {{ car.brand }} {{ car.year }} </span>
                </div>
                <span class="cart-price cart-column">$19.99</span>
                <div class="cart-quantity cart-column">
                    <input class="cart-quantity-input" type="number" value="1" min="1" max="1"/>
                    <button class="btn btn-danger" type="button">
                        REMOVE
                    </button>
                </div>
            </div>
        </div>
        <div class="cart-total">
            <strong class="cart-total-title">Total</strong>
            <span class="cart-total-price">$19.99</span>
        </div>
        <button class="btn btn-primary btn-purchase" type="button">
            PURCHASE
        </button>
    </section>
{% endblock content %}
