{% extends "base.html" %}

{% load static %}

{% block title %}
    <title>Sibour Rent A Car Lebanon</title>
{% endblock title %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'Flats.css' %}" />
    <link rel="stylesheet" href="{% static 'step1.css' %}" />
{% endblock extra_css %}

{% block content %}
    <div class="step-row">
        <div id="progress"></div>
        <div class="step-col">Choose a Car</div>
        <div class="step-col">Choose Time and Place</div>
        <div class="step-col">Customize Your Order</div>
    </div>
    <section id="product1" class="section-p1">
        <div class="pro-container" style="margin-bottom: 200px;">
            {% for car in cars %}
                <div class="pro"
                     {% if car.available %} onclick="window.location.href='{% url 'sflats' pk=car.pk %}';" {% endif %}>
                    <img src="{% static car.default_design.image_url %}" />
                    <div class="des">
                        <h5>{{ car.brand }} {{ car.year }}</h5>
                        <div class="star">
                            {% with ""|center:car.stars as range %}
                                {% for _ in range %}<i class="fas fa-star"></i>{% endfor %}
                            {% endwith %}
                        </div>
                        {% if car.available %}
                            <h4 style="color:rgb(43, 148, 43);">available</h4>
                        {% else %}
                            <h4 style="color:rgb(243, 46, 46);">booked!</h4>
                        {% endif %}
                        <h4>{{ car.price }}$/Day</h4>
                        <h4 style="color:rgb(0, 0, 255);">Insurance deposit: 5000$</h4>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock content %}
