{% extends "base.html" %}

{% load static %}

{% block title %}
    <title>Document</title>
{% endblock title %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'step2.css' %}" />
    <!--flatpickr css-->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"/>
{% endblock extra_css %}

{% block content %}
    <div class="step-row">
        <div id="progress"></div>
        <div class="step-col">Choose a Car</div>
        <div class="step-col">Choose Time and Place</div>
        <div class="step-col">Customize Your Order</div>
    </div>
    <div class="registration">
        <div class="register-form">
            <form method="POST">
                {% csrf_token %}
                <div class="registerInfo">
                    <div class="placeTime">
                        <label for="location">Pickup Location</label>
                        <br/>
                        <select id="myoption" name="pickup_location" required>
                            <option value="" disabled selected hidden class="selected">
                                Choose Location
                            </option>
                            <option>
                                International Airport
                            </option>
                            <option>
                                Delivery Service
                            </option>
                            <option>
                                Our Main Office
                            </option>
                        </select>
                    </div>
                    <div class="placeTime">
                        <label for="Location">Return Location</label>
                        <br/>
                        <select id="myOption" name="return_location">
                            <option value="" disabled selected hidden class="selected">
                                Choose Location
                            </option>
                            <option>
                                International Airport
                            </option>
                            <option>
                                Delivery Service
                            </option>
                            <option>
                                Our Main Office
                            </option>
                        </select>
                    </div>
                    <div class="placeTime">
                        <label for="date">Pick up Date</label>
                        <br/>
                        <input value=""
                               type="text"
                               name="pickup_datetime"
                               id="datetime"
                               placeholder="Select DateTime"
                               required/>
                    </div>
                    <div class="placeTime">
                        <label for="time">Return Date</label>
                        <br/>
                        <input value=""
                               type="text"
                               name="return_datetime"
                               id="datetime"
                               placeholder="Select DateTime"
                               required/>
                    </div>
                </div>
                <div class="Next-btn-box">
                    <button id="next" class="next">Next</button>
                </div>
            </form>
        </div>
        <div class="register-logo">
            <img src="{% static 'imgCars/1.1.png' %}"
                 width="100%"
                 height="auto"
                 style="border:0"/>
        </iframe>
    </div>
</div>
<!--flatpickr js-->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
         flatpickr("#datetime",{
         allowInput:true,
         enableTime: true,
         dateFormat: "Y-m-d H:i",
         minDate: "today",
         maxDate: new Date().fp_incr(31) // 31 days from now
     })
      // for cleaning the datetime input
      const my_fp = document.querySelector("#datetime")._flatpickr;
      my_fp.clear();
     
</script>
{% endblock content %}
