{% extends "base.html" %}

{% load static %}

{% block title %}
    <title>Sibour Rent A Car Lebanon</title>
{% endblock title %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'Flats.css' %}" />
    <link rel="stylesheet" href="{% static 'step1.css' %}" />
{% endblock extra_css %}

{% block content %}
    <div class="step-row">
        <div id="progress"></div>
        <div class="step-col">step1</div>
        <div class="step-col">step2</div>
        <div class="step-col">step3</div>
    </div>
    <section id="product1" class="section-p1">
        <div class="pro-container" style="margin-bottom: 200px;">
            {% for car in cars %}
                <div class="pro"
                     onclick="window.location.href='{% url 'sflats' pk=car.pk %}';">
                    <img src="{% static car.image_urls.0 %}" />
                    <div class="des">
                        <h5>{{ car.brand }} {{ car.year }}</h5>
                        <div class="star">
                            {% with ""|center:car.stars as range %}
                                {% for _ in range %}<i class="fas fa-star"></i>{% endfor %}
                            {% endwith %}
                        </div>
                        <h4>{{ car.price }}$/Day</h4>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock content %}
