{% extends "base.html" %}

{% load static %}

{% block title %}
    <title>Document</title>
{% endblock title %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'step1.css' %}" />
    <!--flatpickr css-->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"/>
{% endblock extra_css %}

{% block content %}
    <div class="step-row">
        <div id="progress"></div>
        <div class="step-col">
            <a href={% url 'step1' %}>step1</a>
        </div>
        <div class="step-col">
            <a href={% url 'step2' %}>step2</a>
        </div>
        <div class="step-col">
            <a href={% url 'step3' %}>step3</a>
        </div>
    </div>
    <label id="lbltext1"></label>
    <br/>
    <label id="lbltext2"></label>
    <div class="containerrr" style="margin-top: 50px;">
        <form id="form1">
            <div class="rowww">
                <div >
                    <label for="location">Pick up Location</label>
                    <br/>
                    <select id="myoption" onchange="getddl()">
                        <option selected class="selected">
                            Choose Location
                        </option>
                        <option>
                            International Airport
                        </option>
                        <option>
                            Delivery Service
                        </option>
                        <option>
                            Our Main Office
                        </option>
                    </select>
                </div>
                <div style="margin-left:25px">
                    <label for="Location">Return Location</label>
                    <br/>
                    <select id="myOption"onchange="getddll()">
                        <option selected class="selected">
                            Choose Location
                        </option>
                        <option>
                            International Airport
                        </option>
                        <option>
                            Delivery Service
                        </option>
                        <option>
                            Our Main Office
                        </option>
                    </select>
                </div>
            </div>
            <div class="rowww">
                <div >
                    <label for="date">Pick up Date</label>
                    <br/>
                    <input type="text"
                           name="datetime "
                           id="datetime"
                           placeholder="Select DateTime"/>
                </div>
                <div style="margin-left:25px">
                    <label for="time">Return Date</label>
                    <br/>
                    <input type="text"
                           name="datetime "
                           id="datetime"
                           placeholder="Select DateTime"/>
                </div>
                <div >
                    <img src="{% static 'imgCars/1.1.png' %}"
                         style="position: relative;
                                width:200px;
                                height:350px;
                                margin-top: -167px;
                                margin-bottom: -122px;
                                border-radius: 10px"/>
                </div>
            </div>
            <div class="btn-box">
                <input type="submit" id="next" class="next" value="Next"/>
            </div>
        </form>
    </div>
    <script>
        function getddl() {
         document.getElementById('lbltext1').innerHTML= 
         ("Pick up Location is:" +form1.myoption[form1.myoption.selectedIndex].text)
    
        }
        function getddll() {
         document.getElementById('lbltext2').innerHTML= 
         ("Return Location is:" +form1.myOption[form1.myOption.selectedIndex].text)
    
        }
            
    </script>
    <!--flatpickr js-->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
         flatpickr("#datetime",{
         enableTime: true,
         dateFormat: "Y-m-d H:i",
         minDate: "today",
         maxDate: new Date().fp_incr(31) // 31 days from now
     })
      // for cleaning the datetime input
      const my_fp = document.querySelector("#datetime")._flatpickr;
      my_fp.clear();
     
    </script>
{% endblock content %}
